* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-color: #eeeeee;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.kuda-header {
  background: #fff;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.05);
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.flex {
  display: flex; }

.align-center {
  align-items: center; }

header {
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

.justify-between {
  justify-content: space-between; }

.kuda-brand {
  min-width: 100px; }

.column--100 {
  width: 100%; }

ul {
  list-style: none; }

.kuda-menu--wrap {
  margin-left: 10%; }

.kuda-header--wrap {
  display: block;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 60px;
  padding-right: 60px; }

a {
  color: inherit;
  text-decoration: none; }

li.kuda-nav--menu {
  min-width: 80px; }

.kuda-nav--menu {
  margin-right: 45px; }

.kuda-nav--menu {
  position: relative; }

.kuda-nav--menu {
  margin-right: 60px; }

[data-toggle=dropdown] > .no-link, [data-toggle=dropdown] > a {
  cursor: pointer;
  height: 40px; }

.kuda-nav--menu a, .kuda-nav--menu p {
  align-items: center;
  color: #40196d;
  display: flex;
  font-size: .875rem;
  font-weight: 700; }

.color-primary {
  color: #40196d; }

p {
  line-height: 1.5; }

.dropDown {
  margin-left: 7px; }

.dropdown-menu {
  z-index: 1 !important; }

.dropdown-menu, .modal-menu {
  display: block !important;
  padding-top: 0;
  position: absolute;
  transition-delay: 1s !important;
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0, 1), top 0.5s cubic-bezier(0.455, 0.03, 0, 1) !important;
  width: -webkit-max-content;
  width: max-content; }

.dropdown-menu {
  left: 0;
  opacity: 0;
  top: 44px !important;
  visibility: hidden; }

.dropdown-menu:hover {
  opacity: 1; }

.drop-min--width {
  min-width: 230px; }

.kuda-dropdown--menu {
  background: #fff;
  border: 1px solid rgba(220, 220, 224, 0.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
  padding: 20px 0;
  white-space: nowrap; }

.pb-0, .py-0 {
  padding-bottom: 0 !important; }

.pt-0, .py-0 {
  padding-top: 0 !important; }

.drop-min--width {
  min-width: 230px; }

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important; }

.pt-4, .py-4 {
  padding-top: 1.5rem !important; }

ol, ul {
  list-style: none; }

.kuda-dropdown--menu li .menu-link {
  align-items: center;
  border-radius: 5px;
  color: #000;
  display: inline-flex;
  font-size: 0.875rem !important;
  font-weight: 500;
  padding: 10px 0; }

.kuda-nav--menu a, .kuda-nav--menu p {
  align-items: center;
  color: #40196d;
  display: flex;
  font-size: 13px;
  font-weight: 700; }

a {
  color: inherit;
  text-decoration: none; }

.pt-4, .py-4 {
  padding-top: 1.5rem !important; }

ol, ul {
  list-style: none; }

.kuda-header--extras {
  margin-left: auto; }

.align-center {
  align-items: center !important; }

.flex {
  display: flex !important; }

.kuda-nav {
  font-size: 1.5rem; }

.kuda-cta-wide {
  max-width: 100%;
  width: 100%; }

.text-bold {
  font-weight: 700 !important; }

.color-primary {
  color: #40196d; }

a {
  color: inherit;
  text-decoration: none; }

.kuda-header--wrap .kuda-cta, .kuda-header--wrap .kuda-cta-outline {
  margin-left: 35px; }

.kuda-header--wrap .kuda-cta, .kuda-header--wrap .kuda-cta-outline {
  height: 46px;
  margin-left: 40px;
  max-width: 136px;
  min-width: 171px; }

.kuda-cta, .kuda-cta-outline {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  padding: 15px;
  transition: transform .6s; }

.kuda-cta {
  background: #40196d;
  border-radius: 4px;
  border-radius: 10px;
  color: #fff;
  height: 48px; }

a {
  color: inherit;
  text-decoration: none; }

.has-left--margin {
  height: 42px;
  margin-left: 28px;
  margin-right: 0 !important; }

.kuda-nav--menu {
  position: relative; }

.mobile-toggle {
  display: none;
  height: 20px;
  width: 23px; }

.kuda-hamburger {
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
  width: 23px; }

.kuda-footer {
  padding-top: 5% !important; }

.animated {
  animation-duration: .8s;
  animation-fill-mode: both;
  position: relative; }

.fadeInUp {
  animation-name: fadeInUp; }

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important; }

.pt-4, .py-4 {
  padding-top: 1.5rem !important; }

.mb-5, .my-5 {
  margin-bottom: 3rem !important; }

footer {
  border-top: 1px solid rgba(223, 227, 255, 0.5);
  margin-top: 80px; }

footer .container {
  max-width: 1180px;
  padding-left: 60px;
  padding-right: 60px; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }

.kuda-footer--nav {
  display: flex; }

.kuda-footer--col:not(:last-child) {
  margin-right: 30px; }

.kuda-footer--col {
  width: 20%; }

.kuda-footer--menu li:not(:last-child) {
  margin-bottom: 20px; }

.kuda-footer--menu li {
  font-size: .875rem;
  line-height: 1.3; }

.text-bold {
  font-weight: 700 !important; }

.color-primary {
  color: var(--primaryColor); }

p {
  font-size: 1rem;
  line-height: 1.5; }

.kuda-footer--menu {
  margin-top: 20px; }

.color-black {
  color: #000; }

ol, ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

.pb-2, .py-2 {
  padding-bottom: 0.5rem !important; }

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important; }

.coming-soon--downloads {
  gap: 10px;
  margin-top: 4.5rem; }

.flex {
  display: flex !important; }

.footer-product--vary {
  color: #979797;
  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
  text-align: center; }

.footer-contact--information {
  display: flex;
  justify-content: space-between;
  margin: 4.3rem 0; }

.information-col:not(:last-child) {
  margin-right: 30px; }

.information-col {
  width: 33.33%; }

.other-info {
  margin-top: 15px; }

.flex-column {
  flex-direction: column !important; }

.flex {
  display: flex !important; }

.link-decoration {
  text-decoration: underline; }

.text-bold {
  font-weight: 700 !important; }

.color-primary {
  color: var(--primaryColor); }

a {
  color: inherit;
  text-decoration: none; }

.kuda-socials {
  margin-top: 23px; }

.kuda-socials li {
  align-items: center;
  display: flex; }

.kuda-socials li a {
  height: 100%;
  margin-right: 15px; }

.kuda-page--transition .kuda-preview {
  min-height: calc(100vh - 120px);
  transform: translateY(0) !important; }

.kuda-preview {
  margin-top: 70px;
  padding: 70px 40px 63px;
  transition: transform .8s; }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-left: auto;
  width: 100%; }

.home-fold, .overflow-hidden {
  overflow: hidden;
  display: flex;
  min-height: 635px; }

.fade-active > *, .kuda-preview > div:not(:first-child) > *, .kuda-preview > div:not(:nth-child(2)) > * {
  transition-delay: 0ms !important; }

.kuda-entry--inner:not(.kuda-cta--section) {
  min-height: 540px;
  overflow: hidden; }

.kuda-preview > div > * {
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  -webkit-transform: translate3d(0, 35px, 0);
  -moz-transform: translate3d(0, 35px, 0);
  -ms-transform: translate3d(0, 35px, 0);
  -o-transform: translate3d(0, 35px, 0);
  transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -webkit-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -moz-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -ms-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -o-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s; }

.fade-active > * {
  opacity: 1 !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -moz-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important; }

.align-center {
  align-items: center !important; }

.justify-between {
  justify-content: space-between !important; }

.flex {
  display: flex !important; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

.kuda-section--42 {
  width: 42%; }

.kuda-main--wrap {
  max-width: 450px; }

.title-bottom--spacing {
  margin-bottom: 20px; }

.text-xlbold {
  font-weight: 900; }

.color-primary {
  color: #40196d; }

.text-xl {
  font-size: 3rem !important;
  line-height: 1.15; }

.card-main--heading {
  font-size: 1.25rem;
  margin-bottom: 31px; }

.text-semi-bold {
  font-weight: 600; }

.color-black {
  color: #000; }

p {
  font-size: 1rem;
  line-height: 1.5; }

.title-bottom--spacing {
  margin-bottom: 20px; }

.pt-3, .py-3 {
  padding-top: 1rem !important; }

.align-center {
  align-items: center !important; }

.flex {
  display: flex !important; }

.single-badge:not(:last-child) {
  margin-right: 11px; }

.single-badge {
  display: inline-flex;
  transition: transform .6s; }

a {
  color: inherit;
  text-decoration: none; }

.single-license:not(:last-child) {
  margin-right: 16px; }

.kuda-section--58 {
  width: 58%; }

.hasAnimation {
  margin-top: -12px;
  position: relative; }

.kuda-illustration--center {
  display: flex;
  justify-content: center; }

.hasAnimation [aria-label=animation] {
  overflow: visible !important;
  pointer-events: none; }

.kuda-phone--illustration {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.kuda-phone--illustration > div {
  display: flex; }

.kuda-phone--illustration svg {
  height: auto !important;
  margin: auto;
  position: relative;
  top: -11px;
  width: calc(100% - 100px) !important; }

.kuda-below--fold {
  margin-top: 50px; }

.color-primary {
  color: #40196d; }

.fade-active > *, .kuda-preview > div:not(:first-child) > *, .kuda-preview > div:not(:nth-child(2)) > * {
  transition-delay: 0ms !important; }

.kuda-preview > div > * {
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  -webkit-transform: translate3d(0, 35px, 0);
  -moz-transform: translate3d(0, 35px, 0);
  -ms-transform: translate3d(0, 35px, 0);
  -o-transform: translate3d(0, 35px, 0);
  transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -webkit-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -moz-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -ms-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -o-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s; }

.kuda-section--inner {
  transform: translateZ(0); }

.justify-between {
  justify-content: space-between !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex {
  display: flex !important; }

.summary-bottom .card, .summary-top .card {
  margin-bottom: 20px; }

.summary-top .card {
  width: calc(33.33% - 13px); }

.card-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
  padding: 22px 25px; }

.card-icon--spacing {
  margin-bottom: 15px; }

.card-item p {
  font-size: .975rem; }

.text-xlbold {
  font-weight: 900; }

p {
  font-size: 1rem;
  line-height: 1.5; }

.summary-bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }

.justify-center {
  justify-content: center !important; }

.flex {
  display: flex !important; }

.summary-bottom .card:not(:last-child) {
  margin-right: 20px; }

.summary-bottom .card, .summary-top .card {
  margin-bottom: 20px; }

.summary-bottom .card {
  width: calc(33.33% - 13px); }
