* {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: 68.75em) {
      font-size: 50%;
    }
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #777;
    // background-image: url("../img/BG.png");
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  
    // --primaryColor: #40196d;
    // --lightBlueColor: #1dcbef;
    // --blackColor: #000;
    // --successColor: #48d38a;
    // --negativeColor: #f7685b;
    // --textColor: #979797;
    // --whiteColor: #fff;
    // --whiteAlt: #fff;
    // --darkAlt: #000;
    // --offWhite: #f9f9f9;
    // --offWhiteTrans: hsla(228,7%,87%,.3);
    // --borderOff: hsla(228,7%,87%,.5);
    // --offText: rgba(0,0,0,.5);
    // --bgOffset: #f4f4f4;
    // --placeHolder: #979797;
    // --offBlue: #eff1ff;
    // --boxShadow: rgba(64,25,109,.07);
    // --offBlueTran: rgba(223,227,255,.3);
    // --primaryAlt: #40196d;
    // --offGreen: rgba(72,211,138,.5);
    // --ctaOffBlue: rgba(64,25,109,.3);
    // --overlay: rgba(64,25,109,.2);
    // --successColorTrans: #dcffec;

  .kuda-header {
    background: #fff;
    box-shadow: 0 4px 13px rgba(0,0,0,.05);
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.flex{
  display: flex;

}

.align-center{
  align-items: center;
}

header{
  border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}

.justify-between {
  justify-content: space-between;
}

.kuda-brand{
  min-width: 100px;

}

.column--100 {
  width: 100%;
}

ul{
  list-style: none;
}

.kuda-menu--wrap{
  margin-left: 10%;
}
.kuda-header--wrap {
  display: block;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 60px;
  padding-right: 60px;
}

  a {
    color: inherit;
    text-decoration: none;

}

li.kuda-nav--menu {
  min-width: 80px;
  
}

.kuda-nav--menu {
  margin-right: 45px;
}
.kuda-nav--menu {
  position: relative;
}
.kuda-nav--menu {
  margin-right: 60px;
}

[data-toggle=dropdown]>.no-link, [data-toggle=dropdown]>a {
  cursor: pointer;
  height: 40px;
}
.kuda-nav--menu a, .kuda-nav--menu p {
  align-items: center;
  color:  #40196d;
  display: flex;
  font-size: .875rem;
  font-weight: 700;
}
.color-primary {
  color:  #40196d;
}
p {
  
  line-height: 1.5;

}
.dropDown {
  margin-left: 7px;
}

.dropdown-menu {
  z-index: 1!important;
}
.dropdown-menu, .modal-menu {
  display: block!important;
  padding-top: 0;
  position: absolute;
  transition-delay: 1s!important;
  transition: opacity .5s cubic-bezier(.455,.03,0,1),top .5s cubic-bezier(.455,.03,0,1)!important;
  width: -webkit-max-content;
  width: max-content;
}
.dropdown-menu {
  left: 0;
  opacity: 0;
  top: 44px!important;
  visibility: hidden;
}

.dropdown-menu:hover{
  opacity:1;
  
  
}

.drop-min--width {
  min-width: 230px;
}
.kuda-dropdown--menu {
  background: #fff;
  border: 1px solid hsla(228,7%,87%,.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64,25,109,.07);
  padding: 20px 0;
  white-space: nowrap;
}
.pb-0, .py-0 {
  padding-bottom: 0!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}

.drop-min--width {
  min-width: 230px;
}
.pb-4, .py-4 {
  padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
ol, ul {
  list-style: none;
}

// .kuda-dropdown--menu li .menu-link {
//   align-items: center;
//   border-radius: 5px;
//   color: #000;
//   display: inline-flex;
//    font-size: .875rem!important;
//   font-weight: 500;
//   padding: 10px 0;
// }


.kuda-dropdown--menu li .menu-link {
  align-items: center;
  border-radius: 5px;
  color: #000;
  display: inline-flex;
  font-size: .875rem!important;
  font-weight: 500;
  padding: 10px 0;
}
.kuda-nav--menu a, .kuda-nav--menu p {
  align-items: center;
  color: #40196d;
  display: flex;
  font-size: 13px;
  font-weight: 700;

}

a {
  color: inherit;
  text-decoration: none;
}


.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
ol, ul {
  list-style: none;
}

.kuda-header--extras {
  margin-left: auto;
}
.align-center {
  align-items: center!important;
}
.flex {
  display: flex!important;
}

.kuda-nav {
  // font-size: .875rem;
  font-size: 1.5rem;
}
.kuda-cta-wide {
  max-width: 100%;
  width: 100%;
}
.text-bold {
  font-weight: 700!important;
}
.color-primary {
  color: #40196d;
}
a {
  color: inherit;
  text-decoration: none;
}

.kuda-header--wrap .kuda-cta, .kuda-header--wrap .kuda-cta-outline {
    margin-left: 35px;
}
.kuda-header--wrap .kuda-cta, .kuda-header--wrap .kuda-cta-outline {
    height: 46px;
    margin-left: 40px;
    max-width: 136px;
    min-width: 171px;
}
.kuda-cta, .kuda-cta-outline {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    padding: 15px;
    transition: transform .6s;
}
.kuda-cta {
    background: #40196d;
    border-radius: 4px;
    border-radius: 10px;
    color: #fff;
    height: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}


.has-left--margin {
  height: 42px;
  margin-left: 28px;
  margin-right: 0!important;
}
.kuda-nav--menu {
  position: relative;
}

.mobile-toggle {
  display: none;
  height: 20px;
  width: 23px;
}




.kuda-hamburger {
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
  width: 23px;
}