.kuda-section {
    margin-top: 12.5%;
}

.align-center {
    align-items: center!important;
}
.justify-between {
    justify-content: space-between!important;
}
.flex {
    display: flex!important;
}

.kuda-section--45 {
    width: 45%;
}
.kuda-section--wrap {
    max-width: 420px;
}

.kuda-section--heading {
    font-size: 2.25rem;
    line-height: 1.38;
}
.title-bottom--spacing {
    margin-bottom: 20px;
}
.text-xlbold {
    font-weight: 900;
}
.color-primary {
    color:  #40196d;
}

.kuda-section--max {
    max-width: 350px;
}
.color-black {
    color: #000;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}

.learn-more {
    cursor: pointer;
    display: inline-flex;
    font-weight: 700;
    margin-top: 26px;
    text-decoration:underline;
}

.color-primary {
    color: #40196d;
}
.align-center {
    align-items: center;
}

.learn-more span {
    display: inline-flex;
}

.arrow-right--icon {
    margin-left: 10px;
}


.kuda-section--55 {
    width: 55%;
}

.kuda-space{
    margin-left: 5rem;

}

.kuda-spc{
    margin-left: -4.5rem;
    
}

.kuda-mn{
    margin-right: 6rem;
}


// SECTION SLIDE

.section-slide{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    width: 100%;
    padding-left: 6rem;
    height: 37rem;
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.slide-text{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: palevioletred;
 
}

.slide-header{
color: #40196d;
font-size: 2.5rem;
font-family: sans-serif;
font-weight: 700;
text-align: center;

}

.slide-img{
    margin-top: 3rem;
    width: 100%;
    height: 18rem;
 background-color: white;
    padding: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;

}

.slide-txt{
    color: #000;
    font-weight: 500;
}

.slide-n{
    color: #000;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.slide-con{
    width: 21.5rem;
    height: 15rem;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
    padding: 1.5rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}

.slide-box{
    width: 17rem;
    height: 5rem;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    // background-color: orange;
}

.slide-imgs{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}


// KUDA PUB SECTION

.kuda-pub-bbc{
    height: 3rem;
}

.kuda-pub{
    background-color: #ffffff;
    height: 12rem;
    width: 105%;
    margin-left: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: space-around;   


}


.pat-con{
 background-color: #fbfbfb;
    height: 15rem;
    width: 105%;
    margin-left: -5rem;

   
}

.pat-box{
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 1.5rem;

}

.pat-header{
    font-size: 2.5rem;
    font-weight: 700;
    color: #40196d;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5rem;
    text-align: center;
    
}


.pat-pub{
    height: 10rem;
    padding: 1.5rem;
    margin-left: 15rem;
    margin-right: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;


}


.section-freed{
    background-color: #fff;
    width: 100%;
    height: 48rem;
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.freed{
    font-size: 2rem;
    padding: 1.5rem;
    color: #40196d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;

}


.freed-box{
    height: 36rem;
    width: 70%;
  border-radius: 5px;
  margin-top: 4rem;
    background: #fff;
    box-shadow: 15px 30px 40px rgba(64,25,109,.07);
    margin-bottom: 50px;
    padding-right: 0;
   background-color: #fff;

    
}

.plan-heading{
    padding-left: 72px;
    padding-right: 72px;
   display: flex;
   padding-top: 1.5rem;
   border-top: 1px solid hsla(228,7%,87%,.5);
}
        
.plan-single{
    width: 33.3%;
}
    

.freed-main{
font-size: 1.25rem;
  color: #40196d;  
  margin-bottom: 20px;
  line-height: 1.4;
  font-weight: 900;
}

.freed-text{
    margin-bottom: 13px;
    font-weight: 400;
    display: flex;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
}

.feature-text{

}

.check-icon{

    display: flex;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

// DESCRIPT SECTION 
.descrip{
    width: 70%;
    height: 24rem;
    margin-top: 4rem;
        background: #eff1ff;
        border: 1px solid hsla(228,7%,87%,.5);
        border-radius: 5px;
        box-shadow: 15px 30px 40px rgba(64,25,109,.07);
         padding: 12px 12px 12px 12px;
        margin-left: 13rem;
        margin-bottom: 4rem;

}

.descrip-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    width: 100%;
    height: 22rem;
    background-color: #eff1ff;
    column-gap: 1.5rem;

}
.descrip-txt{
    font-size: 1.9rem;
    font-weight: 900;
    color: #40196d;
    font-family: sans-serif;

}

.descrip-text{
    margin-top: 12px;
color: #000;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}



.but{
    background-color: #40196d;
    color: #fff;
    margin-top: 1.5rem;
    height: 3rem;
    width: 8rem;
    border-radius: 8px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .6s; 
    
}

.but:hover{
    
    transform: translate3d(0, -3px, 0);
   
}


.i-box svg{
    bottom: -105px;
    height: 350px;
    min-width: 435px;
    right: 40px;


}

// from the FOOTER SECTION  

.border-top{
    width: 100%;
    margin-top: 2rem;
    border: 1px solid #40196d;
    padding-top: 2rem;
}